
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

/* Botón de menú flotante-index */

.menu-flotante {
    position: fixed;
    top: auto;
    z-index: 1000;
    width: fit-content;
    margin: 10px;
}

#mod-menu {
    display: none;
}

.icono-menu {
    background-color: #f2f0eb;
    color: #e99f5a;
    padding: 6px 10px;
    font-size: 22px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: inline-block;
    transition: .3s ease;
}

.icono-menu:hover {
    background-color: #e99f5a;
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
    color: #f2f0eb;
    transform: scale(1.15);
}

.menu {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #f2f0eb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: #333333;
    border-radius: 8px;
}

.menu a:hover {
    background-color: #e99f5a;
}

#mod-menu:checked ~ .menu {
    display: flex;
}

/* Hero - Banner index */

#hero-index {
    width: 100%;
    height: 100vh;
    background-image: url(/IMG/Banner\ index.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#hero-index::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 1;
}

#banner-boton {
    text-align: center;
    color: #f2f0eb;
    position: relative;
    z-index: 2;
    line-height: 1.5;
}

#banner-index h1 {
    font-size: 5vw;
}

#banner-index p {
    font-size: 2.5vw;
}

#logo-hero {
    width: 15vh;
    max-width: 180px;
    position: absolute;
    top: 2vh;
    right: 1vw;
    z-index: 3;
}

/* Boton conocenos - Hero */

#boton-conocenos {
    display: inline-flex;                
    align-items: center;           
    gap: 1vw;                     

    padding: 0.5vw 1vw;  
    margin-top: 2vw;

    font-size: 2vw;
    font-weight: bold;
    color: #f2f0eb;

    background-color: #e99f5a;
    border: none;
    border-radius: 1vw;
    text-decoration: none;

    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: .3s ease;
}

#boton-conocenos:hover {
    background-color: #f2f0eb;
    color: #e99f5a;
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
    transform: scale(1.15);
}

#icono-perrito {
    width: 3vw;
}



/* Botón enviar de seccion contacto-index */

/* #enviar-contacto {
    width: 220px;
    height: 60px;
    padding: auto;

    background-color: #e99f5a;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    font-weight: bold;
    font-size: 40px;
    color: #f2f0eb;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    
    display: flex;
    justify-content: center;

    position: absolute;
    top: 10px;
    right: 10px;
    left: 300px;
    bottom: 10px;
}

#boton-enviar-contacto {
    position: relative;
    transition: .3s ease;
}

#boton-enviar-contacto:hover {
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
    transform: scale(1.15);
} */


