
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f0eb;
}

/* Botón de menú flotante-index */

.menu-flotante {
    position: fixed;
    top: auto;
    z-index: 1000;
    width: fit-content;
    margin: 10px;
}

#mod-menu {
    display: none;
}

.icono-menu {
    background-color: #f2f0eb;
    color: #e99f5a;
    padding: 6px 10px;
    font-size: 22px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: inline-block;
    transition: .3s ease;
}

.icono-menu:hover {
    background-color: #e99f5a;
    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
    color: #f2f0eb;
    transform: scale(1.15);
}

.menu {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #f2f0eb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: #333333;
    border-radius: 8px;
}

.menu a:hover {
    background-color: #e99f5a;
}

#mod-menu:checked ~ .menu {
    display: flex;
}

/* Hero - Banner index */

#hero-index {
    width: 100%;
    height: 59.2rem;
    background-image: url(../IMG/Banner-index.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5vh 2vw;
}

#hero-index::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 1;
}

#banner-boton {
    text-align: center;
    color: #f2f0eb;
    position: relative;
    z-index: 2;
    line-height: 1.5;
}

#banner-index h1 {
    font-size: 6rem;
}

#banner-index p {
    font-size: 3rem;
}

#logo-hero {
    width: 15vh;
    max-width: 180px;
    position: absolute;
    top: 2vh;
    right: 1vw;
    z-index: 3;
}

/* Boton conocenos - Hero */

#boton-conocenos {
    display: inline-flex;                
    align-items: center;           
    gap: 0.3rem;                     

    padding: 0.2rem 0.5rem;
    margin: 6rem;
    margin-top: 2rem;

    font-size: 2.5rem;
    font-weight: bold;
    color: #f2f0eb;

    background-color: #e99f5a;
    border: none;
    border-radius: 1rem;
    text-decoration: none;

    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    transition: .3s ease;
}

#boton-conocenos:hover {
    background-color: #f2f0eb;
    color: #e99f5a;
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,0.4);
    transform: scale(1.15);
}

#icono-perrito {
    width: 3rem;
    min-width: 40px;
}

/* Carrusel 1 - Index */

#carrusel-index-1 {
    background: #e99f5a;
    padding: 1vw 0;
    text-align: center;
    color: #f2f0eb;
}

#carrusel-index-1 h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

#carrusel-index-1 p {
    font-size: 2.5rem;
    margin-top: 4rem;
}

#contenido-carrusel-index-1 {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 7vw;
}

#slides-columna-1,
#slides-columna-2 {
    width: 100vw;
    height: 70vw;
    max-width: 700px;
    max-height: 600px;

    background: #f2f0eb;
    border-radius: 55% 35% 70% 35% / 40% 70% 45% 60%;
    overflow: hidden;
    box-shadow: 0 0 0 12px #f2f0eb;

    position: relative;
    flex-shrink: 0;
}

#slides-1,
#slides-2 {
    width: 100%;
    height: 100%;
    position: relative;
}

#slides-1 img,
#slides-2 img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    animation: animacionCarrusel 9s infinite;
}

#slides-1 img:nth-child(1) { animation-delay: 0s; }
#slides-1 img:nth-child(2) { animation-delay: 3s; }
#slides-1 img:nth-child(3) { animation-delay: 6s; }

#slides-2 img:nth-child(1) { animation-delay: 0s; }
#slides-2 img:nth-child(2) { animation-delay: 3s; }
#slides-2 img:nth-child(3) { animation-delay: 6s; }

@keyframes animacionCarrusel {
    0% { opacity: 1; }
    27% { opacity: 1; }
    33% { opacity: 0; }
    94% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 900px) {
    #contenido-carrusel-index-1 {
        flex-direction: column;
        gap: 10vw;
    }

    #slides-columna-1,
    #slides-columna-2 {
        width: 75vw;
        height: 75vw;
    }
}

/* Sección conocenos */

#conocenos {
    width: 100%;
    min-height: 59.2rem;
    height: auto;
    margin: auto;
    background-color: #f2f0eb;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5vh 2vw;

    overflow: hidden;
    flex-wrap: wrap;
}

#info-actividad {
    text-align: center;
    color: #333333;
}

#info-actividad h1 {
    font-size: 5rem;
}

#info-actividad h3 {
    font-size: 2rem;
}

#info-actividad p:nth-child(3) {
    font-size: 3rem;
}

#info-actividad p:nth-child(5) {
    font-size: 1.5rem;
}

#icono-huella-conocenos {
    width: 14vh;
    max-width: 180px;
    position: absolute;
    top: 13vh;
    right: 7vw;
}

/* Botones sección conocenos */

.boton-seccion-conocenos {
    display: inline-flex;                
    align-items: center;           
    gap: 0.3rem;                     

    padding: 0.2rem 0.5rem;
    margin: 1rem;
    margin-top: 2rem;

    font-size: 2.5rem;
    font-weight: bold;
    color: #f2f0eb;

    background-color: #e99f5a;
    border: none;
    border-radius: 1rem;
    text-decoration: none;

    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    transition: .3s ease;
}

.boton-seccion-conocenos:hover {
    background-color: #f2f0eb;
    color: #e99f5a;
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,0.4);
    transform: scale(1.15);
}

/* Sección - Misión y visión */

#mision-vision {
    background-color: #333333;
    padding: 2em 5vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

#contenido-mision-vision {
    display: flex;
    gap: 32em;
    justify-content: center;
    align-items: flex-start;
    width: 70vw;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-top: 5em;
    padding-bottom: 17.5em;
}

#mision, #vision {
    background-color: #f2f0eb;
    padding: 2em;
    border-radius: 15px;
    width: 45%;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    margin: 0;
}

#mision p, #vision p {
    color: #333333;
    margin-bottom: 1em;
    font-size: 1.2em;
    line-height: 1.6;
}

#vision p {
    margin-bottom: 1.8em;
}

#mision h2 {
    color: #e99f5a;
    margin-bottom: 0.8em;
    font-size: 1.8em;
    line-height: 1.6;
}

#vision h2 {
    color: #83c5d8;
    margin-bottom: 0.8em;
    font-size: 1.8em;
    line-height: 1.6;
}

#ilustracion-perro {
    position: absolute;
    top: 73%;
    left: 51%;
    transform: translate(-50%, -60%);
    width: 80vw;
    max-width: 800px;
    height: auto;
    z-index: 4;
    pointer-events: none;
}

/*Carrusel 2 - Index */

#carrusel-index-2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#contenido-carrusel-index-2 {
    width: 100%;
    height: 100%;
    position: relative;
}

#slides-3, #slides-4, #slides-5, #slides-6 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: animDesvanecimiento 12s infinite;
}

#slides-3 img, #slides-4 img, #slides-5 img, #slides-6 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@keyframes animDesvanecimiento {
    0% { opacity: 1; }
    20.833% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

#slides-3 { animation-delay: 0s; }
#slides-4 { animation-delay: 3s; }
#slides-5 { animation-delay: 6s; }
#slides-6 { animation-delay: 9s; }

/* Sección contacto */

.comunicacion {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.form-contacto {
    background-color: #f2f0eb;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

@media (min-width: 1024px) {
    .form-contacto {
        flex: 0 0 40%;
        padding: 4rem;
        justify-content: center;
    }
}

.form-contacto h2 {
    font-size: 2.25rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 1rem;
    line-height: 1.1;
    padding-bottom: 0.5rem;
    align-self: flex-start;
}

.form-contacto input, 
.form-contacto select, 
.form-contacto textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    color: #333333;
}

.form-contacto input:focus, 
.form-contacto select:focus, 
.form-contacto textarea:focus {
    outline: none;
    border-color: #333333;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.25);
}

.form-contacto ::placeholder {
    color: #9ca3af;
}

.form-contacto select {
    color: #9ca3af;
}
.form-contacto select option:not(:first-child) {
    color: #333333;
}

#redes-sociales-index {
    position: relative; 
    width: 50vw;
    max-width: 800px;
    margin-top: 2rem;
}

#perro-contacto {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);

    height: 155vh;

    width: auto;

    z-index: 1;
    pointer-events: none;
}

#icono-facebook, #icono-insta,
#icono-youtube, #icono-x {
    position: absolute;
    bottom: 5%;
    z-index: 2;
    width: 3rem;
}

#icono-facebook { left: 30%; }
#icono-insta { left: 45%; }
#icono-x { left: 60%; }
#icono-youtube { left: 75%; }

/* Botón enviar de seccion contacto-index */

#enviar-contacto {
    display: inline-flex;                
    align-items: center;           
    gap: 0.3rem;                     

    padding: 0.2rem 0.5rem;
    margin: 6rem;
    margin-top: 1rem;
    margin-left: 9em;

    font-size: 2.5rem;
    font-weight: bold;
    color: #f2f0eb;

    background-color: #83c5d8;
    border: none;
    border-radius: 1rem;
    text-decoration: none;

    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    transition: .3s ease;
}

#enviar-contacto:hover {
    background-color: #f2f0eb;
    color: #83c5d8;
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,0.4);
    transform: scale(1.15);
}

/* Footer */

.footer-global {
    width: 100%;
    height: 30vh;
    background-color: #e99f5a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

#info-footer {
    color: #333333;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    text-align: left;
    max-width: 40%;
}

#logo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    max-width: 40%;
}

#logo-footer h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin: 0;
    color: #f2f0eb;
    text-align: right;
}

#logo-footer img {
    width: 15em;
    height: auto;
}

@media (max-width: 900px) {
    .footer-global {
        flex-direction: column;
        gap: 2rem;
        height: auto;
    }

    #info-footer, #logo-footer {
        max-width: 90%;
        text-align: center;
    }

    #logo-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #logo-footer h1 {
        font-size: 1.8rem;
    }

    #logo-footer img {
        width: 130px;
    }
}

/* PAGINA ADOPTA */

.header-global {
    background-color: #83c5d8;
    padding: 1rem 2rem;
    text-align: center;
    color: #f2f0eb;
    font-weight: bold;
    font-size: 1.8rem;
}

.nav-menu-global {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0em;
    flex-wrap: wrap;
}

.main-adopta {
    max-width: 1200px;
    margin: 2rem auto 0 auto;
    padding: 0 1rem;
    text-align: center;
    background-color: #f2f0eb;
}

.main-adopta h1 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #333333;
}

#adopta-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    justify-items: center;
}

.tarjeta {
    background-color: #333333;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    max-width: 260px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    color: #f2f0eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-tarjeta {
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.card-info {
    padding: 1rem 1.2rem 1.5rem 1.2rem;
    text-align: left;
    width: 100%;
}

.card-info p:first-child {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

#estado-perfil {
    font-size: 0.8rem;
    color: #f2f0eb;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

#estado-tarjeta {
    font-size: 1.1rem;
}

#btoton-perfil {
    background-color: #e99f5a;
    color: #f2f0eb;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 0.9rem;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#btoton-perfil:hover {
    background-color: #f2f0eb;
    color: #e99f5a;
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,0.4);
    transform: scale(1.15);
}

/* Botones del nav - Adopta */

.nav-item {
    display: inline-flex;                
    align-items: center;           
    gap: 0.3rem;                     

    padding: 0.2rem 0.5rem;
    margin: 1rem;
    margin-top: 2rem;

    font-size: 2.5rem;
    font-weight: bold;
    color: #f2f0eb;

    background-color: #e99f5a;
    border: none;
    border-radius: 1rem;
    text-decoration: none;

    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    transition: .3s ease;
}

.nav-item:hover {
    background-color: #f2f0eb;
    color: #e99f5a;
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,0.4);
    transform: scale(1.15);
}

@media (max-width: 600px) {
    .footer-global {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }
    #logo-footer {
        justify-content: center;
    }
    #info-footer {
        text-align: center;
    }
}

/* PAGINA DE PERFIL */

.main-perfil {
    max-width: 1200px;
    margin: 2rem auto 3rem auto;
    padding: 0 1rem;
}

.perfil-contenedor {
    display: flex;
    gap: 2rem;
    background-color: #f2f0eb;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.perfil-imagen {
    flex: 1 1 320px;
    max-width: 350px;
    border-radius: 12px;
    overflow: hidden;
    border: 6px solid #e99f5a; /* borde naranja */
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.perfil-imagen img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.perfil-info {
    flex: 2 1 450px;
    color: #333333;
}

.perfil-info p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.datos-detallados {
    list-style: none;
    margin-bottom: 2rem;
    padding-left: 0;
    font-size: 1rem;
    color: #333333;
}

.datos-detallados li {
    margin-bottom: 0.7rem;
}

.datos-detallados span {
    font-weight: 700;
}

.boton-perfil {
    display: inline-flex;                
    align-items: center;           
    gap: 0.3rem;                     

    padding: 0.2rem 0.5rem;
    margin: 1rem;
    margin-top: 2rem;

    font-size: 1.5rem;
    font-weight: bold;
    color: #f2f0eb;

    background-color: #e99f5a;
    border: none;
    border-radius: 1rem;
    text-decoration: none;

    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    transition: .3s ease;
}

.boton-perfil:hover {
    background-color: #f2f0eb;
    color: #e99f5a;
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,0.4);
    transform: scale(1.15);
}

/* PAGINA VOLUNTARIADO */

.main-voluntariado {
    max-width: 1200px;
    margin: 2rem auto 3rem auto;
    padding: 0 1rem;
    text-align: center;
    background-color: #f2f0eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding-bottom: 2rem;
}

.main-voluntariado h2 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 0.1rem;
    color: #333333;
    width: 100%;
    text-align: center;
}

.main-voluntariado p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #333333;
    text-align: center;
}

.voluntariado {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.form-voluntariado {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .form-voluntariado {
        flex: 0 0 50%;
        padding: 2rem;
        justify-content: center;
    }
}

.form-voluntariado input, 
.form-voluntariado textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    color: #333333;
}

.form-voluntariado input:focus, 
.form-voluntariado textarea:focus {
    outline: none;
    border-color: #333333;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.25);
}

.form-voluntariado::placeholder {
    color: #9ca3af;
}

#img-voluntariado {
    position: absolute;
    bottom: -14.6%;
    left: 80.5%;
    transform: translateX(-50%);

    height: 110vh;

    width: auto;

    pointer-events: none;
}

/* Botón quiero donar */

#enviar-contacto {
    display: inline-flex;                
    align-items: center;           
    gap: 0.3rem;                     

    padding: 0.2rem 0.5rem;
    margin: 6rem;
    margin-top: 1rem;
    margin-left: 9em;

    font-size: 2.5rem;
    font-weight: bold;
    color: #f2f0eb;

    background-color: #83c5d8;
    border: none;
    border-radius: 1rem;
    text-decoration: none;

    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    transition: .3s ease;
}

#enviar-contacto:hover {
    background-color: #f2f0eb;
    color: #83c5d8;
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,0.4);
    transform: scale(1.15);
}